{
  "presets": ["@babel/flow", "babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "containers": "./src/containers",
          "styles": "./src/styles",
          "views": "./src/styles/Views",
          "utils": "./src/utils"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source"]
    },
    "test": {
      "plugins": ["@babel/transform-react-jsx-source"],
      "presets": ["@babel/env", "@babel/stage-0"]
    }
  }
}
