{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype",
    "jest"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "semi": 0,
    "arrow-parens": 0,
    "operator-linebreak": 0,
    "react/destructuring-assignment": 0,
    "quote-props": 0,
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ]
  },
  "globals": {
    "__DEV__": true,
    "window": true,
    "fetch": false
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "jest/globals": true
  }
}